<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beyondthehorizon.associates">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".chats.SendingMediaActivity"></activity>
        <activity
            android:name=".viewdetails.ViewImageActivity"
            android:label="IMG"
            android:parentActivityName=".chats.ChatActivity" />
        <activity
            android:name=".groupchat.GroupInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".users.FriendProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".groupchat.CommentsChatActivity" />
        <activity
            android:name=".groupchat.AddGroupActivity"
            android:label="New Group"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".contacts.FindFriendActivity"
            android:label="My contacts"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".contacts.ContactsActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".users.UserProfileActivity"
            android:label="Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".chats.ChatActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".util.ActionReceiver" />

        <service android:name=".util.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>